.containerMain {
margin-top: 3rem;
}

.content {
 display: flex;
 justify-content: center;
align-items: center;
}

.containerUpdatePedidos {
background-color: transparent;
border : solid transparent;
margin-left: 1rem;
}

.containerSection {
align-items: center;
display: flex;
justify-content: center;
height: 100%;
}

.containerButton {
    width: 80%;
    margin-top: 2rem;
    height: 4rem;
    border: none;
    border-left: solid 1rem green;
    border-radius: 300px 0px 0px 300px;
    background-color: var( --dark_900 );
    color: var( --white );
    font-size: 25px;
}